.pokemon-select {
    min-width: 300px;
    margin-top: 24px;
}

.option-container {
    display: flex;
    align-items: center;
    img {
        height: 40px;
        width: auto;
        margin-right: 4px;
    }
    .name {
        flex-grow: 1;
    }
}