<mat-form-field class="pokemon-select">
  <mat-label>Choose a Pokemon</mat-label>
  <input
    type="text"
    placeholder="Start typing to search"
    aria-label="Pokemon"
    matInput
    [formControl]="formControl"
    [matAutocomplete]="auto"
  />
  <mat-autocomplete
    #auto="matAutocomplete"
    (optionSelected)="handleOptionSelected($event.option.value)"
  >
    <mat-option
      *ngFor="let option of filteredOptions$ | async"
      [value]="option.name"
    >
      <div class="option-container">
        <img alt="" class="example-option-img" [src]="option.iconUrl" />
        <span class="name">{{ option.name }}</span>
      </div>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
